@import 'utils';

.CategoryEditItemList {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  .create-category {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    cursor: pointer;
    svg {
      font-size: 3rem;
      color: $oc-gray-5;
      transition: all 0.15s ease-in;
    }
    div {
      margin-top: 0.5rem;
      font-size: 1.15rem;
      color: $oc-gray-6;
      font-weight: 400;
      transition: all 0.15s ease-in;
    }
    &:hover {
      svg, div { 
        color: $oc-violet-5;
      }
    }
  }
}