@import 'utils';
.SettingEmail {
  .current-email {
    display: flex;
    .email {
      display: flex;
      align-items: center;
      svg {
        color: $oc-red-6;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
      font-size: 1.125rem;
      color: $oc-gray-9;
      &.empty {
        color: $oc-gray-6;
      }
    }
  }
}
