.FullscreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 50, 50, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: white;
}