@import 'utils';

.register-template {
  .mock-header {
    color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    .brand {
      font-size: 2.25rem;
      font-family: 'Inconsolata', monospace;
      font-weight: 700;
    }
    .light {
      margin-left: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: $oc-gray-5;
      span {
        margin-right: 0.75rem;
      }
    }
  }
  .rest {
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    .register-card {
      margin-top: -6rem;
      width: 512px;
      background: white;
      @include material-shadow(3, 0.5);
      padding: 1rem;
      border-radius: 2px;
    }
  }
}