.util {
  &.stick-right {
    margin-left: auto;
  }
  &.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.flex-placeholder {
    flex: 1;
  }
  &.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
  }
}
