body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", AppleSDGothicNeo, "Noto Sans CJK KR",
    "NanumGothic", "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  position: relative;
}

button {
  @include unstyle-button();
}

input {
  font-family: inherit;
}
