body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

#root {
  position: relative;
}