@import "utils";
.PostHead {
  &.placeholder {
    .gray-block {
      background: $oc-gray-1;
      border-radius: 2px;
      height: 1em;
      animation: Blink 0.5s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      &._username {
        width: 7em;
      }
      &._description {
        width: 11em;
      }
      &._title {
        margin-top: 1.875rem;
        height: 3.2rem;
      }
      &._date {
        margin-top: 1rem;
        width: 10em;
      }
    }
    .description {
      margin-top: 0.5rem;
    }
    .fake-img {
      background: $oc-gray-1;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      animation: Blink 0.5s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  margin-top: 4rem;
  font-size: 1rem;
  @include media("<medium") {
    font-size: 0.875rem;
    margin-top: 0rem;
  }
  .category {
    font-size: 1.125em;
    color: $oc-violet-6;
    margin: 0;
    font-weight: 600;
  }
  h1 {
    font-family: "Noto Serif KR", sans-serif;
    margin: 0;
    font-size: 2.5em;
    line-height: 3.2rem;
    margin-top: 0.75em;
  }
  .date {
    font-size: 1.125em;
    color: $oc-gray-6;
  }
  .userinfo {
    @include media("<medium") {
      background: $oc-gray-0;
      margin-top: -0.25rem;
      border-top: 1px solid $oc-gray-2;
      border-bottom: 1px solid $oc-gray-2;
      padding: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }
    display: flex;
    margin-top: 1em;
    align-items: center;
    .user-thumbnail {
      flex-shrink: 0;
      width: 4em;
      height: 4em;
      position: relative;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .info {
      margin-left: 1em;
      font-size: 0.875em;
      line-height: 1.5em;
      .username {
        font-weight: 500;
        color: $oc-gray-9;
      }
      .description {
        word-break: break-word;
        color: $oc-gray-6;
      }
    }
  }
  .date-and-likes {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .placeholder {
      flex: 1;
    }
  }
  .separator {
    width: 100%;
    height: 1px;
    background: #e7edf3;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}
