@import "utils";
.PostLikeButton {
  cursor: pointer;
  padding: 0.5rem 0.875rem;
  display: flex;
  align-items: center;
  border: 1px solid $oc-violet-5;
  color: $oc-violet-5;
  border-radius: 1.0625rem;
  svg {
    line-height: 1.125rem;
    font-size: 1.125rem;
  }
  .count {
    font-size: 0.75rem;
    margin-left: 0.75rem;
    font-weight: 500;
  }
  &.liked {
    background: $oc-violet-5;
    color: white;
    &:hover {
      background: $oc-violet-4;
    }
    &:active {
      background: white;
      color: $oc-violet-5;
    }
  }
  &:not(.liked) {
    &:hover {
      background: $oc-violet-5;
      color: white;
    }
    &:active {
      background: $oc-violet-6;
    }
  }
  &.disabled {
    cursor: not-allowed;
    &:hover {
      background: white;
      border: 1px solid $oc-violet-5;
      color: $oc-violet-5;
    }
  }
}
