@import "utils";

.common.responsive {
  width: 1600px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @include media("<wide") {
    width: $x-large-w;
  }
  @include media("<x-large") {
    width: $large-w;
  }
  @include media("<large") {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
