@import 'utils';

.common.responsive {
  width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  @include media("<huge") {
    width: $large-w;
  }
  @include media("<large") {
    width: $medium-w;
  }
  @include media("<medium") {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

}