@import 'utils';

.LandingTemplate {
  height: 100%;
  display: flex;
  align-items: center;

  @include media("<wide") {
    height: auto;
    min-height: 100%;
    flex-direction: column;
    .left, .right {
      width: 100%;
      flex: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  @include media("height<700px") {
    height: auto;
    min-height: 100%;
    flex-direction: column;
    .left, .right {
      width: 100%;
      flex: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .left, .right {
    flex: 1;
    height: 100%;
  }
  .left {
    color: white;
    background: $oc-gray-8;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<wide") {
      justify-content: flex-start;
    }
    .logo {
      font-size: 3.5rem;
      line-height: 3.5rem;
      font-weight: 600;
    }
    h2 {
      margin: 0;
      margin-top: 4rem;
      font-weight: 300;
      font-size: 2rem;
      line-height: 2rem;
      @include media("<wide") {
        margin-top: 1.5rem;
      }
    }
    p {
      font-weight: 300;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      margin-bottom: 0;
    }
    @include media("<big") {
      .logo {
        font-size: 3rem;
        line-height: 3rem;
      }
      h2 {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
    @include media("<medium") {
      .logo {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    .buttons {
      display: flex;
      button {
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        border: 2px solid white;
        line-height: 1.25rem;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
          background: white;
          color: $oc-gray-9;
        }
      }
      button + button {
        margin-left: 1rem;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $oc-gray-1;
    @include media("<wide") {
      & > .wrapper {
        width: 100%;
      }
    }
    h2 {
      color: $oc-gray-8;
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: 1rem;
      @include media("<big") {
        font-size: 1.75rem;
      }
    }
    .auth-form {
      padding: 3rem;
      background: white;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.125), 0px 0px 10px rgba(0, 0, 0, 0.11);
      width: 600px;
      @include media("<big") {
        width: 500px;
      }
      @include media("<wide") {
        width: 100%;
        padding: 2rem;
      }
      @include media("<medium") {
        padding: 1rem;
      }
    }
  }
  // height: 100%;
  // display: flex;
  // .block {
  //   display: flex;
  //   @include media("<large") {
  //     flex-direction: column;
  //   }
  // }
  // .left-text {
  //   flex: 1;
  //   display: flex;
  //   align-items: center;
  //   h1 {
  //     margin-top: 0;
  //     font-size: 5rem;
  //     margin-bottom: 2rem;
  //     font-family: "Inconsolata", "monospace";
  //   }
  //   h2 {
  //     font-size: 2.5rem;
  //     font-weight: 500;
  //     line-height: 1.2em;
  //     @include media("<huge") {
  //       font-size: 2.85rem;
  //     }
  //     @include media("<medium") {
  //       font-size: 2rem;
  //     }
  //   }
  //   p {
  //     font-weight: 300;
  //     font-size: 1.25rem;
  //     @include media("<huge") {
  //       font-size: 1rem;
  //     }
  //     @include media("<medium") {
  //       font-size: 1.25rem;
  //       br {
  //         display: none;
  //       }
  //     }

  //   }
  // }
  // .right {
  //   display: flex;
  //   align-items: center;
  // }
  // .right-form {
  //   width: 480px;
  //   margin-left: 2rem;
  //   margin-top: 2rem;
  //   @include media("<large") {
  //     margin-left: 0;
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //   }
  //   .black-box {
  //     h2 {
  //       margin: 0;
  //       font-weight: 600;
  //     }
  //     @include media("<medium") {
  //       display: none;
  //     }
  //     border-radius: 4px;
  //     width: 100%;
  //     background: $oc-gray-8;
  //     color: white;
  //     padding: 2rem;
  //     @include material-shadow(3, 0.75);
  //     @include media("<large") {
  //       width: calc(100% - 2rem);
  //     }
  //   }
  //   .register-button {
  //     display: none;
  //     @include media("<medium") {
  //       display: flex;
  //     }
  //     width: 15rem;
  //     background: $oc-gray-8;
  //     color: white;
  //     font-weight: 500;
  //     padding-top: 1rem;
  //     padding-bottom: 1rem;
  //     justify-content: center;
  //     font-size: 1.5rem;
  //     border-radius: 4px;

  //     transition: box-shadow .15s ease-in;
  //     cursor: pointer;
  //     border: 2px solid transparent;
  //     user-select: none;
  //     @include material-shadow(1, 1);
  //     @include hover(){ 
  //       @include material-shadow(3, 1);
  //     }
  //     &:active {
  //       border: 2px solid $oc-gray-9;
  //       background: white;
  //       color: $oc-gray-9;
  //     }
  //   }
  // }
}