@import "utils";
.ErrorInfo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include media("<large") {
    width: 100%;
    left: 0%;
    transform: translateY(-50%);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .code {
    font-weight: 800;
    font-size: 5rem;
    color: $oc-gray-7;
  }
  .message {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: serif;
    color: $oc-gray-8;
    font-weight: 600;
  }
  .gohome {
    border-radius: 4px;
    border: 1px solid $oc-gray-7;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    transition: all 0.125s ease-in;
    &:hover {
      background: $oc-gray-7;
      color: white;
    }
  }
}
