@import 'utils';

.WriteHeader {
  position: relative;
  z-index: z('write-header');
  height: 4rem;
  background: $oc-gray-8;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  color: white;
  .back-icon {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 1.75rem;
    &:hover, &:active {
      color: white;
    }
  }
  .title-area {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    input {
      flex: 1;
      background: none;
      outline: 0;
      border: none;
      font-size: 1.25rem;
      color: white;
      &::placeholder {
        color: rgba(255,255,255,0.9);
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;

    .button {
      background: $oc-gray-0;
      padding: 0.6rem;
      font-weight: 500;
      border-radius: 2px;
      line-height: 0.9rem;
      font-size: 0.9rem;
      @include material-shadow(2, 0.75);
      transition: 0.1s all ease-in;
      user-select: none;
      cursor: pointer;
      & + .button {
        margin-left: 0.75rem;
      }

      &.temp-save {
        background: #65707b;
        &:hover {
          background: lighten(#65707b, 5%);
        }
        &:active {
          background: darken(#65707b, 5%);
        }
      }
      
      &.submit {
        background: $oc-violet-5;
        color: white;
        &:hover {
          background: lighten($oc-violet-5, 5%);
        }
        &:active {
          background: $oc-violet-5;
        }
      }

      &.edit {
        background: $oc-indigo-6;
        color: white;
        &:hover {
          background: lighten($oc-indigo-6, 5%);
        }
        &:active {
          background: $oc-indigo-6;
        }
      }
    }

    .more {
      margin-left: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.05s all ease-in;
      &:hover {
        background: rgba(255,255,255,0.125);
      }
      &:active {
        background: rgba(255,255,255,0.075);
      }
    }
  }
}