@import "utils";
.MainSidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 18rem;
  @include media("<x-wide") {
    width: 15rem;
  }
  @include media("<large") {
    transform: translate(-100%);
  }
  background: white;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: -6px 0px 12px 0px #d6dee4;
  .logo {
    padding: 0rem 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Inconsolata";
    color: $oc-gray-9;
    display: block;
    position: relative;
    .badge {
      color: $oc-red-6;
      font-style: italic;
      font-size: 0.875rem;
      padding: 0.25rem;
      position: absolute;
      line-height: 0.875rem;
      font-weight: 700;
      top: 1.75rem;
      left: 7.25rem;
    }
  }
  .menu {
    list-style: none;
    padding-left: 0;
  }
  .placer {
    flex: 1;
  }
  .footer {
    border-top: 1px solid $oc-gray-2;
    padding-top: 1rem;
    color: $oc-gray-6;
    a:hover {
      color: $oc-gray-8;
    }
    font-size: 0.875rem;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
