/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="lang-"],
pre[class*="lang-"] {
  color: #abb2bf;
  background: none; // text-align: left;
  // white-space: pre;
  // word-spacing: normal;
  // word-break: normal;
  // word-wrap: normal;
  // -moz-tab-size: 4;
  // -o-tab-size: 4;
  // tab-size: 4;
  // -webkit-hyphens: none;
  // -moz-hyphens: none;
  // -ms-hyphens: none;
  // hyphens: none;
}

pre[class*="lang-"]::-moz-selection,
pre[class*="lang-"] ::-moz-selection,
code[class*="lang-"]::-moz-selection,
code[class*="lang-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*="lang-"]::selection,
pre[class*="lang-"] ::selection,
code[class*="lang-"]::selection,
code[class*="lang-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

// @media print {
//   code[class*="lang-"],
//   pre[class*="lang-"] {
//     text-shadow: none;
//   }
// }
// /* Code blocks */
// pre[class*="lang-"] {
//   overflow: auto;
// }
// pre[class*="lang-"] {
//   overflow: auto;
// }
:not(pre)>code[class*="lang-"],
pre[class*="lang-"] {
  background: #282c34;
}

pre {
  color: #abb2bf;
  background: #282c34;
}

// /* Inline code */
// :not(pre)>code[class*="lang-"] {
//   padding: 0.1em;
//   border-radius: 0.3em;
//   white-space: normal;
// }
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.lang-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers>code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #5c6370;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}