SECRET_KEY=SampleSecretKey
HASH_KEY=SampleHashKey
REDIS_HOST=localhost
REDIS_PASS=
INTERNAL_KEY=d3ae8eef4fd13288d6595e62fe753b12c9dfcb29fb4292f65e1165509c0ba6ea
POSTGRES_HOST=localhost
POSTGRES_USER=velog
POSTGRES_PW=velogpw
NODE_ENV=development
GITHUB_ID=f51c5f7d1098d4a1cbdf
GITHUB_SECRET=78ff1213c152f3c5f63953796cda33cde44658a7