# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env
env.json

# Webpack directories
.webpack

# others
.idea
flow-typed

.DS_STORE
dbconfig.md
dbconfig.1.md
.env.production