@import 'utils';

.PostContent {
  margin-top: 15rem;
  svg {
    display: block;
  }
  .gray-area {
    background: $oc-gray-0;
  }
  .floating-box {
    transform: translateY(-25rem);
    padding: 2rem;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.125), 0px 1px 10px rgba(0, 0, 0, 0.11);
    min-height: 768px;
  }
}