@import "utils";
.SubmitBoxAdditional {
  textarea {
    resize: none;
    border: none;
    background: white;
    outline: none;
    width: 100%;
    @include material-shadow(2, 0.75);
    font-size: 1rem;
    padding: 0.5rem;
  }
  .description {
    font-size: 0.75rem;
    color: $oc-gray-4;
    line-height: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .select-theme {
    width: 100%;
  }
  .url {
    border-radius: 4px;
    background: white;
    display: flex;
    overflow: hidden;
    .base {
      color: $oc-gray-6;
      padding: 0.5rem;
      padding-right: 0;
      font-size: 0.75rem;
    }
    input {
      font-size: 0.75rem;
      color: $oc-gray-9;
      border: none;
      outline: none;
      min-width: 0px;
      display: block;
      flex: 1;
      font-weight: 600;
    }
  }
}