@import "utils";

.MainMobileHead {
  background: white;
  box-shadow: 0 6px 12px 0px #d6dee41f;
  padding-top: 0.75rem;

  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  @include media(">=large") {
    display: none;
  }
}
