@import "utils";
.UserHead {
  display: flex;
  @include media("<medium") {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .user-info {
    margin-left: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include media("<medium") {
      width: 100%;
      margin-left: 0;
    }
    section {
      min-height: 5rem;
    }
    .top {
      display: flex;
      flex-direction: column;
      .subscribe-wrapper {
        @include media("<medium") {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        display: flex;
        justify-content: flex-end;
        .subscribe {
          display: block;
          font-size: 1rem;
          line-height: 1rem;
          padding-top: 0.625rem;
          padding-bottom: 0.625rem;
        }
      }
      .username {
        margin-top: auto;
        font-weight: 500;
        color: $oc-violet-6;
        padding-bottom: 0.5rem;
      }
    }
    .profile-content {
      border-top: 1px solid $oc-gray-2;
      padding-top: 0.5rem;
      h2,
      p {
        margin: 0;
      }
      h2 {
        color: $oc-gray-8;
        font-size: 2.5rem;
      }
      p {
        margin-top: 0.75rem;
        color: $oc-gray-7;
        line-height: 1.5em;
        font-size: 0.875rem;
        white-space: pre-wrap;
      }
      .social-info {
        margin-top: 1rem;
        .icons {
          margin-left: -2px;
          color: $oc-gray-7;
          display: flex;
          a {
            display: block;
            cursor: pointer;
            &:hover {
              color: $oc-gray-9;
            }
          }
          font-size: 2.5rem;
          a + a {
            margin-left: 0.25rem;
          }
        }
        .icons + .other-links {
          margin-top: 1rem;
        }
        .other-links {
          .link-line {
            display: flex;
            align-items: center;
            svg {
              color: $oc-gray-7;
              font-size: 1.5rem;
              margin-right: 0.5rem;
            }
            a {
              flex: 1;
              min-width: 0;
              color: $oc-violet-5;
              font-size: 1rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .link-line + .link-line {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  &.placeholder {
    .fake-thumbnail {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
      animation: Blink 0.5s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      background: $oc-gray-2;
    }
    .gray-block {
      animation: Blink 0.5s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      height: 1em;
      background: $oc-gray-2;
      border-radius: 2px;
      &._username {
        width: 8rem;
      }
      &._name {
        font-size: 2.5em;
        width: 4em;
      }
      &._description {
        margin-top: 1.25rem;
        color: $oc-gray-6;
        height: 1.3125rem;
      }
    }
  }
}
