@import "utils";
.TagCurrent {
  margin-top: 1rem;
  .backwards-btn {
    font-size: 1.25rem;
    font-weight: 500;
    color: $oc-gray-6;
    svg {
      margin-right: 0.5rem;
    }
    &:hover {
      color: $oc-violet-5;
    }
  }
  hr {
    margin-top: 1rem;
    border: none;
    background: $oc-gray-4;
    height: 1px;
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: $oc-gray-8;
    .lighten {
      font-size: 1.25rem;
      color: $oc-gray-7;
      font-weight: 300;
    }
  }
}