@import 'utils';

.base.header {
  .header-wrapper {
    height: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .brand {
      font-size: 2.25rem;
      font-family: 'Inconsolata', monospace;
      font-weight: 700;
    }
    .right {
      margin-left: auto;
    }
  }
}