@import 'utils';

.base.header {
  .header-wrapper {
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .brand {
      font-size: 2.25rem;
      font-family: 'Inconsolata', monospace;
      font-weight: 700;
    }
    nav {
      margin-left: 3rem;

      a {
        font-size: 1.25rem;
        color: $oc-gray-8;
        &.active {
          color: $oc-violet-6;
          font-weight: 500;
        }
        & + a {
          margin-left: 1.5rem;
        }
      }
    }
    .right {
      margin-left: auto;
    }
  }
}