@import 'utils';
.SettingsTemplate {
  margin-bottom: 4rem;
  main {
    width: $medium-w;
    @include media('<medium') {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    margin: 0 auto;
    margin-top: 4rem;
    h2 {
      color: $oc-gray-8;
      margin: 0;
      font-weight: 400;
      font-size: 2.5rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      svg {
        margin-right: 1rem;
      }
    }
  }
}
