@import 'utils';

.CategoryEditItem {
  display: flex;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
  cursor: move;
  &:hover {
    background: $oc-gray-0;
  }

  align-items: center;
  .text {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
  }
  .buttons {
    display: flex;
    padding-right: 0.25rem;
    color: $oc-gray-5;
    opacity: 0.8;
    cursor: pointer;
    .button {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      font-size: 1.25rem;
      &:hover {
        &.edit {
          color: $oc-gray-9;
        }
        &.remove {
          color: $oc-red-7;
        }
      }
    }
  }
  &.chosen {
    border: 1px solid $oc-gray-2;
  }
  &.ghost {
    border: 1px solid $oc-gray-2;
  }
  &.drag {

  }
  &.edit {
    background: $oc-gray-0;
    input {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border: none;
      outline: none;
      flex: 1;
      font-size: 1.1rem;
      background: transparent;
      font-weight: 500;
    }
    .apply-button {
      font-size: 0.9rem;
      font-weight: 500;
      color: $oc-orange-6;
      padding-top: 0.5rem;
      margin-left: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 0.5rem;
      &:hover {
        color: $oc-orange-4;
      }
    }
  }
}