@import "utils";
.UserContent {
  display: flex;
  margin-top: 4rem;
  @include media("<medium") {
    flex-direction: column;
    margin-top: 2rem;
  }
  .tab-wrapper {
    margin-left: 2rem;
    @include media("<medium") {
      margin-left: 0;
    }
    flex: 1;
  }
  .side-wrapper {
    width: 15rem;
    @include media("<medium") {
      width: 100%;
    }
  }
}