@import "utils";

.TrandingSection {
  h2 {
    color: $oc-gray-9;
    @include media("<large") {
      margin-bottom: 0;
      margin-top: 0;
    }
    @include media("<medium") {
      font-size: 1.25rem;
    }
  }
}

.TrandingSection + .TrandingSection {
  margin-top: 8rem;
}
