@import "utils";
.UserPostCard {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  color: $oc-gray-9;
  @include media(">=medium") {
    &:first-child {
      padding-top: 0;
    }
  }
  .private {
    display: inline-flex;
    background: $oc-gray-6;
    color: white;
    border-radius: 13px;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 4px 12px;
    line-height: 1.5;
    align-items: center;
    svg {
      margin-right: 4px;
    }
    margin-bottom: 0.5rem;
  }
  .img-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    @include media("<large") {
      margin-bottom: 1rem;
    }
    display: block;
    img {
      width: 100%;
      object-fit: cover;
      min-height: 150px;
      height: auto;
      max-height: 400px;
      &:hover {
        filter: brightness(97%);
      }
    }
  }
  h2 {
    font-size: 1.375rem;
    margin: 0;
    font-weight: 600;
    @include media("<medium") {
      font-size: 1.25rem;
    }
    &:hover {
      text-decoration: underline;
      color: $oc-violet-5;
    }
  }
  p {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    color: $oc-gray-7;
    @include media("<medium") {
      font-size: 1rem;
    }
  }
  .card-subinfo {
    margin-top: 0.5rem;
    color: $oc-gray-9;
    font-size: 1rem;
    span+span {
      &::before {
        content: "·";
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }
    @include media("<medium") {
      font-size: 0.875rem;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25rem;
    margin-top: 0.75rem;
    .tag {
      border-radius: 4px;
      line-height: 1.5;
      padding: 0.125rem 0.5rem;
      font-size: 0.875rem;
      @include media("<medium") {
        font-size: 0.75rem;
      }
      background: $oc-gray-2;
      margin: 0.25rem;
      display: block;
      color: $oc-gray-9;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        background: $oc-gray-1;
      }
    }
  }
  &+.UserPostCard {
    border-top: 1px solid $oc-gray-3;
  }
  &.placeholder {
    .gray-box {
      background: $oc-gray-1;
      border-radius: 2px;
      height: 1em;
      animation: Blink 0.5s ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      display: block;
    }
    .fake-img {
      height: 300px;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    h2 .gray-box {
      width: 70%;
    }
    p .gray-box {
      &+.gray-box {
        margin-top: 0.5rem;
      }
    }
    .card-subinfo-placeholder .gray-box {
      display: inline-flex;
      height: 1rem;
      width: 5rem;
      margin-right: 0.75rem;
    }
    .tags {
      margin-top: 0.5rem;
      .tag {
        width: 3rem;
      }
    }
  }
}