@import "utils";
.UserTemplate {
  main {
    width: 1024px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include media("<large") {
      width: 100%;
    }
  }
}
