@import "utils";
.PostCardList {
  .empty-list {
    width: 100%;
    text-align: center;
    padding-top: 8rem;
    color: $oc-gray-4;
    font-size: 2rem;
    @include media("<medium") {
      padding-top: 4rem;
      font-size: 1.5rem;
    }
  }
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: -0.875rem;
  margin-right: -0.875rem;
  @include media("<medium") {
    margin-top: 0.5rem;
  }
}
