@import 'utils';
.PostComments {
  .comment-list {
    margin-top: 2rem;
    .comment {
      .comment-head {
        .user {
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }
        }
      }
    }
    .comment+.comment {
      margin-top: 1rem;
    }
  }
}