@import 'utils';
.user-menu-wrapper {
  position: relative;
  z-index: z('user-menu');
  .user-menu-positioner {
    position: absolute;
    right: 0;
    top: 2.5rem;
    .rotated-square {
      z-index: 0;
      position: absolute;
      width: 1rem;
      height: 1rem;
      background: $oc-gray-5;
      transform: rotate(45deg);
      right: 16px;
      z-index: 0;
      top: -8px;
    }
    .user-menu {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      z-index: 1;
      position: relative;
      font-size: 0.875rem;
      background: white;
      min-width: 10rem;
      border: 1px solid $oc-gray-5;
      .menu-items {
        .separator {
          width: 100%;
          height: 1px;
          background: $oc-gray-2;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}