@import 'utils';

.SubmitBox {
  @keyframes submitBoxAppear {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      trasnform: translateY(0px);
    }
  }

  @keyframes submitBoxDisappear {
    0% {
      opacity: 1;
      trasnform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-25%);
    }
  }
  
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: $oc-gray-7;
  width: 20rem;
  padding: 1.5rem;
  z-index: z('submit-box');
  @include material-shadow(2, 1);
  color: white;
  // transition: transform 0.075s ease-in;
  // transform-origin: top right;
  // transform: scale(1);
  &.appear {
    animation: submitBoxAppear .15s ease-in-out;
    animation-fill-mode: forwards;
  }
  &.disappear {
    animation: submitBoxDisappear .15s ease-in-out;
    animation-fill-mode: forwards;
  }
  .title {
    display: flex;
    align-items: center;
    .text {
      font-size: 1.25rem;
      font-weight: 600;
    }
    .view {
      margin-left: auto;
      font-size: 0.9rem;
      color: $oc-yellow-6;
      &:hover {
        cursor: pointer;
        color: $oc-yellow-5;
      }
    }
  }
  .sections {
    margin-top: 0.5rem;
    section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .section-title {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
      color: $oc-gray-4;
      &.category {
        display: flex;
        align-items: center;
        .edit {
          line-height: 0.8rem;
          margin-left: auto;
          padding: 0.25rem;
          border: 1px solid $oc-gray-0;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          div {
            margin-top: 0.1rem;
            margin-left: 0.25rem;
          }
          &:hover {
            background: white;
            color: $oc-gray-9;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    margin-top: 1rem;
    user-select: none;
    .open-options {
      padding-top: 1rem;
      flex: 2;
      font-size: 0.9rem;
      color: $oc-yellow-6;
      span {
        &:hover {
          cursor: pointer;
          color: $oc-yellow-5;
        }
      }
    }
    .submit-button {
      @include material-shadow(2, 0.75);
      flex: 3;
      background: $oc-violet-5;
      border-radius: 3px;
      font-weight: 600;
      transition: 0.1s all ease-in;
      cursor: pointer;
      &:hover {
        background: lighten($oc-violet-5, 5%);
      }
      &:active {
        background:$oc-violet-5;
      }

      &.edit {
        background: $oc-indigo-5;
        &:hover {
          background: lighten($oc-indigo-5, 5%);
        }
        &:active {
          background:$oc-indigo-5;
        }
      }
    }
  }
}